In [1]:
import pandas as pd #data frame operations
import numpy as np #arrays and math functions
from scipy.stats import uniform #for training and test splits
import statsmodels.api as sm  # statistical models (including regression)
import statsmodels.formula.api as smf  # R-like model specification
import matplotlib.pyplot as plt #2D plotting
import seaborn as sns #seaborn for plotting
from sklearn.linear_model import LinearRegression
import plotly.graph_objs as go
from plotly import tools
from plotly.offline import iplot, init_notebook_mode

In [2]:
# airport = pd.read_csv('us-airports.csv')
airports_url = 'https://raw.githubusercontent.com/jpatokal/openflights/master/data/airports.dat'
# airlines_url = 'https://raw.githubusercontent.com/jpatokal/openflights/master/data/airlines.dat'

airports_df = pd.read_csv(airports_url, header=None, 
                          names=['id', 'name', 'city', 'country', 'iata', 'icao', 'lat', 'lon', 
                                 'alt', 'timezone', 'dst', 'tz', 'type', 'source'])

In [3]:
airports_df.head()
airports_df['country'].unique()

array(['Papua New Guinea', 'Greenland', 'Iceland', 'Canada', 'Algeria',
       'Benin', 'Burkina Faso', 'Ghana', "Cote d'Ivoire", 'Nigeria',
       'Niger', 'Tunisia', 'Togo', 'Belgium', 'Germany', 'Estonia',
       'Finland', 'United Kingdom', 'Guernsey', 'Jersey', 'Isle of Man',
       'Falkland Islands', 'Netherlands', 'Ireland', 'Denmark',
       'Faroe Islands', 'Luxembourg', 'Norway', 'Poland', 'Sweden',
       'South Africa', 'Botswana', 'Congo (Brazzaville)',
       'Congo (Kinshasa)', 'Swaziland', 'Central African Republic',
       'Equatorial Guinea', 'Saint Helena', 'Mauritius',
       'British Indian Ocean Territory', 'Cameroon', 'Zambia', 'Comoros',
       'Mayotte', 'Reunion', 'Madagascar', 'Angola', 'Gabon',
       'Sao Tome and Principe', 'Mozambique', 'Seychelles', 'Chad',
       'Zimbabwe', 'Malawi', 'Lesotho', 'Mali', 'Gambia', 'Spain',
       'Sierra Leone', 'Guinea-Bissau', 'Liberia', 'Morocco', 'Senegal',
       'Mauritania', 'Guinea', 'Cape Verde', 'Ethiopia', 'Burundi',
       'Somalia', 'Egypt', 'Kenya', 'Libya', 'Rwanda', 'Sudan',
       'South Sudan', 'Tanzania', 'Uganda', 'Albania', 'Bulgaria',
       'Cyprus', 'Croatia', 'France', 'Saint Pierre and Miquelon',
       'Greece', 'Hungary', 'Italy', 'Slovenia', 'Czech Republic',
       'Israel', 'Malta', 'Austria', 'Portugal', 'Bosnia and Herzegovina',
       'Romania', 'Switzerland', 'Turkey', 'Moldova', 'Macedonia',
       'Gibraltar', 'Serbia', 'Montenegro', 'Slovakia',
       'Turks and Caicos Islands', 'Dominican Republic', 'Guatemala',
       'Honduras', 'Jamaica', 'Mexico', 'Nicaragua', 'Panama',
       'Costa Rica', 'El Salvador', 'Haiti', 'Cuba', 'Cayman Islands',
       'Bahamas', 'Belize', 'Cook Islands', 'Fiji', 'Tonga', 'Kiribati',
       'Wallis and Futuna', 'Samoa', 'American Samoa', 'French Polynesia',
       'Vanuatu', 'New Caledonia', 'New Zealand', 'Antarctica',
       'Afghanistan', 'Bahrain', 'Saudi Arabia', 'Iran', 'Jordan',
       'West Bank', 'Kuwait', 'Lebanon', 'United Arab Emirates', 'Oman',
       'Pakistan', 'Iraq', 'Syria', 'Qatar', 'Northern Mariana Islands',
       'Guam', 'Marshall Islands', 'Midway Islands', 'Micronesia',
       'Palau', 'Taiwan', 'Japan', 'South Korea', 'Philippines',
       'Argentina', 'Brazil', 'Chile', 'Ecuador', 'Paraguay', 'Colombia',
       'Bolivia', 'Suriname', 'French Guiana', 'Peru', 'Uruguay',
       'Venezuela', 'Guyana', 'Antigua and Barbuda', 'Barbados',
       'Dominica', 'Martinique', 'Guadeloupe', 'Grenada',
       'Virgin Islands', 'Puerto Rico', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Aruba', 'Netherlands Antilles', 'Anguilla',
       'Trinidad and Tobago', 'British Virgin Islands',
       'Saint Vincent and the Grenadines', 'Kazakhstan', 'Kyrgyzstan',
       'Azerbaijan', 'Russia', 'Ukraine', 'Belarus', 'Turkmenistan',
       'Tajikistan', 'Uzbekistan', 'India', 'Sri Lanka', 'Cambodia',
       'Bangladesh', 'Hong Kong', 'Laos', 'Macau', 'Nepal', 'Bhutan',
       'Maldives', 'Thailand', 'Vietnam', 'Burma', 'Indonesia',
       'Malaysia', 'Brunei', 'East Timor', 'Singapore', 'Australia',
       'Christmas Island', 'Norfolk Island', 'China', 'North Korea',
       'Mongolia', 'United States', 'Latvia', 'Lithuania', 'Armenia',
       'Eritrea', 'Palestine', 'Georgia', 'Yemen', 'Bermuda',
       'Solomon Islands', 'Nauru', 'Tuvalu', 'Namibia', 'Djibouti',
       'Montserrat', 'Johnston Atoll', 'Western Sahara', 'Niue',
       'Cocos (Keeling) Islands', 'Myanmar', 'Svalbard', 'Wake Island'],
      dtype=object)

In [4]:
us_air =airports_df[airports_df['country']== 'United States']
us_air.isna().sum()

id          0
name        0
city        0
country     0
iata        0
icao        0
lat         0
lon         0
alt         0
timezone    0
dst         0
tz          0
type        0
source      0
dtype: int64

In [5]:
us_air.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1512 entries, 3212 to 7665
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        1512 non-null   int64
 1   name      1512 non-null   object
 2   city      1512 non-null   object
 3   country   1512 non-null   object
 4   iata      1512 non-null   object
 5   icao      1512 non-null   object
 6   lat       1512 non-null   float64
 7   lon       1512 non-null   float64
 8   alt       1512 non-null   int64
 9   timezone  1512 non-null   object
 10  dst       1512 non-null   object
 11  tz        1512 non-null   object
 12  type      1512 non-null   object
 13  source    1512 non-null   object
dtypes: float64(2), int64(2), object(10)
memory usage: 177.2+ KB

In [11]:
%matplotlib inline
# import plotly.plotly as py 
import chart_studio.plotly as py
import plotly.graph_objs as go 
from plotly.offline import download_plotlyjs, init_notebook_mode, iplot, plot

In [14]:
mov = pd.read_csv("movies.csv")
mov.head()

,Unnamed: 0,id,title,release_date,original_language,original_title,genre_ids,overview
0,0,580489,Venom: Let There Be Carnage,2021-06-23,en,Venom: Let There Be Carnage,28.0,"Sequel to the box-office hit film ""Venom."""
1,1,287947,Shazam!,2019-03-29,en,Shazam!,28.0,A boy is given the ability to become an adult ...
2,2,422803,A Shaun the Sheep Movie: Farmageddon,2019-09-26,en,A Shaun the Sheep Movie: Farmageddon,35.0,When an alien with amazing powers crash-lands ...
3,3,373571,Godzilla: King of the Monsters,2019-05-29,en,Godzilla: King of the Monsters,878.0,Follows the heroic efforts of the crypto-zoolo...
4,4,479455,Men in Black: International,2019-06-12,en,Men in Black: International,35.0,The Men in Black have always protected the Ear...