<a href="https://colab.research.google.com/github/larregui/IST718-Project/blob/main/UFO_Classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Import Libraries

In [1]:
import pandas as pd #data frame operations
import numpy as np #arrays and math functions
#from scipy.stats import uniform #for training and test splits
#import statsmodels.api as sm  # statistical models (including regression)
#import statsmodels.formula.api as smf  # R-like model specification
import matplotlib.pyplot as plt #2D plotting
import seaborn as sns #seaborn for plotting
#from sklearn.linear_model import LinearRegression
#import plotly.graph_objs as go
#from plotly import tools
#from plotly.offline import iplot, init_notebook_mode

#Import Datasets

In [19]:
ufo = pd.read_csv("/content/newufo.csv")
wea = pd.read_csv("/content/consolidated_weather_V03.csv")

#Data Cleanup

In [20]:
#change datatype for the following columns
ufo["latitude"] = pd.to_numeric(ufo["latitude"], errors="coerce")
ufo['datetime'] = (pd.to_datetime(ufo['datetime'], format='%Y/%m/%d'))
ufo['date posted'] = (pd.to_datetime(ufo['date posted'], format='%Y/%m/%d'))
#add column day
ufo['day'] = pd.DatetimeIndex(ufo['datetime']).day
#drop unnecessary columns
cols2drop=[ 'Unnamed: 0','duration (hours/min)','date posted']
ufo=ufo.drop(columns=cols2drop)

In [21]:
# Creating seasons column
# Seasons of the ufo appearances
def output_season_from(x):
    
    if x in range(3,6):
        return "Spring"
    if x in range(6,9):
        return "Summer"
    if x in range(9,12):
        return "Autumn"
    if x == 12 or x == 1 or x == 2:
        return "Winter"

ufo["season"] = ufo['datetime'].apply(output_season_from)

In [22]:
wea['dateInt']=wea['year'].astype(str) + wea['month'].astype(str).str.zfill(2)+ wea['mday'].astype(str).str.zfill(2)
wea['datetime'] = pd.to_datetime(wea['dateInt'], format='%Y%m%d')
wea['state']=wea['state'].str.lower()
wea['city']=wea['city'].str.lower()
wea['shape']=wea['shape'].str.lower()
cols2drop=[ 'colour','month','pressure','heatindex','windchill', 'precip', 
            'wgust', 'wdire','dewpt','wspd','hum','conds', 'mday','year','hour','id','dateInt']

wea=wea.drop(columns=cols2drop)

# Shows all the null values
#print(wea.isnull().sum())

wea=wea.dropna()
wea.shape

(50963, 12)

#Merge datatsets

In [23]:
df = pd.merge(ufo, wea, on=["city", "state", "datetime", "shape"])
df.describe()

       duration (seconds)      latitude  ...       tornado          snow
count        3.535600e+04  35356.000000  ...  35356.000000  35356.000000
mean         3.640002e+03     38.383515  ...      0.000028      0.004299
std          2.908908e+05      5.596983  ...      0.005318      0.065428
min          1.000000e-02     19.063889  ...      0.000000      0.000000
25%          3.000000e+01     34.134722  ...      0.000000      0.000000
50%          1.800000e+02     38.998889  ...      0.000000      0.000000
75%          6.000000e+02     42.011111  ...      0.000000      0.000000
max          5.262320e+07     70.636944  ...      1.000000      1.000000

[8 rows x 16 columns]

#Classifier

In [26]:
df.loc[df['tornado'] ==1, 'Credible'] = 'NO'
df.loc[df['fog'] ==1, 'Credible'] = 'NO'
df.loc[df['snow'] ==1, 'Credible'] = 'NO'
df.loc[df['rain'] ==1, 'Credible'] = 'NO'
df.loc[df['thunder'] ==1, 'Credible'] = 'NO'
df.loc[df['hail'] ==1, 'Credible'] = 'NO'
#df.loc[df['vis'] >= 0.064273, 'Credible'] = 'NO'
df.loc[df['airport_dist'] <= 3, 'Credible'] = 'NO'
df.loc[df['military_base_dist'] <= 3, 'Credible'] = 'NO'

In [27]:
df.head()

    datetime         city state country  ... fog  tornado snow  Credible
0 1997-10-10         mesa    az      us  ...   0        0    0        NO
1 1997-10-10      bonaire    ga      us  ...   0        0    0        NO
2 1998-10-10    las vegas    nv      us  ...   0        0    0        NO
3 1998-10-10  mooresville    nc      us  ...   0        0    0        NO
4 1998-10-10       delano    tn      us  ...   0        0    0        NO

[5 rows x 28 columns]